<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Recherche d'Entreprise Simplon.co</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">tableau individuel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">tableau de bord</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="entreprise">Enregistrer une Entreprise</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact">Enregistre un contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="visu">Liste des entreprises</a>
                    </li>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="cont">Liste des contact</a>
                    </li>
                  </ul>
                </div>
              </div>
        </nav>
        <div class="container">
          <div class="row justify-content-center">
            {% block content %}{% endblock %}
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>

