{% extends "nouveau_contact/base.html" %}
{% block content %} 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
        border: 1px black solid;
        }
    </style>
</head>
<body>
 <h1>Contact</h1>
{% if cont %}
 <table>
     <tr>
         <th>Id</th>
         <th>Entreprise</th>
         <th>Nom</th>
         <th>Prenom</th>
         <th>Mail</th>
         <th>Fixe</th>
         <th>Mobile</th>
         <th>Lieu</th>
     </tr>
 <tr>
     {% for elt in cont %}
     <td>{{elt.id}}</td>
     <td>{{elt.entreprise}}</td>
     <td>{{elt.nom}}</td>
     <td>{{elt.prenom}}</td>
     <td>{{elt.mail}}</td>
     <td>{{elt.fixe}}</td>
     <td>{{elt.mobile}}</td>
     <td>{{elt.lieu}}</td>
     {% endfor %}
</tr>
</table>
{% else %}
 <h1>No Data</h1>
{% endif %}
</body>
</html>
{% endblock %}