{% extends "nouveau_contact/base.html" %}
{% block content %} 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
        border: 1px black solid;
        }
    </style>
</head>
<body>
 <h1>Entreprise</h1>
{% if ent %}
 <table>
     <tr>
         <th>Id</th>
         <th>Nom</th>
         <th>Taille</th>
         <th>Domaine</th>
         <th>Adresse</th>
         <th>Code Postal</th>
         <th>Ville</th>
         <th>Web</th>
     </tr>
 <tr>
     {% for elt in ent %}
     <td>{{elt.id}}</td>
     <td>{{elt.nom}}</td>
     <td>{{elt.taille}}</td>
     <td>{{elt.domaine}}</td>
     <td>{{elt.adresse}}</td>
     <td>{{elt.code_postal}}</td>
     <td>{{elt.ville}}</td>
     <td>{{elt.web}}</td>
</tr>
     {% endfor %}
</table>
{% else %}
 <h1>No Data</h1>
{% endif %}
</body>
</html>
{% endblock %}